* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border: 1px solid rgb(73, 51, 51);
    padding: 0.5rem;
    background-color: rgb(73, 51, 51);
    color: white;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    box-shadow: 0 0 20px #777;
}

.headertext {
    text-align: center;
}
header img {
    width: 100%;
}

footer {
    margin: 1rem auto;
    border: 1px solid rgb(73, 51, 51);
    padding: 0.5rem;
    background-color: rgb(73, 51, 51);
    color: white;
    text-align: center;
    box-shadow: 0 0 20px #777;
}

main ul {
    margin: 3rem;
}

main ul li {
    padding: 0.3rem;
}