* {
	margin: 0;
	padding: 0;
}
.page {
	margin: 1rem auto;
	background-color: aqua;
	padding: 10px;
}
body {
	padding: 0;
	margin: 0, auto;
	font-family: 'Raleway', sans-serif;
}

header {
	background-color: #493333;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
	color: #fff;
}

.head {
	background-color: #493333;
	padding-bottom: 0.1rem;
}
footer {
	background-color:#493333;
	color: #fff;
	padding: 5px 0;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: rgb(9, 145, 9);
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

.navigation li:first-child {
	display: block;
}
/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	/* background-color: tomato; */
}
.navigation {
	list-style: none;
	padding: 0;
	color: #fff;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.responsive li {
	display: block;
}
.navigation a:hover {
	color: green;
	background-color: #fff;
}

aside, .name2 {
	text-align: center;
	margin: 0.5rem;
	padding: 0.75rem;
	border: 1px solid #fff;
	color: #fff;

}

aside {
	background-color: #725d5d;
}

.hero img, .event img, .weather img, .news img {
	width: 100%;
}


.spot {
	background-color: gray;
}

.spot3, .join2 {
	display: none;
	background-color: grey;
}

.spot1 {
	align-content: center;
}
.spot img {
	width: 90%;
	padding: 0.5rem;
}

.foothead {
	text-align: center;
	padding: 1em;
}