/* Larger viewports */
@media (min-width: 761px) {
	header img {
		width: 100%;
	}

	.navigation{
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: rgb(0, 0, 0);
		padding: 0.8rem;
		text-decoration: none;
	}
	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}

	.spot3 {
		display: contents;
	}
	.man {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		/* grid-template-rows: 1fr 1fr 1fr; */
		grid-gap: 2px;
		box-sizing: border-box;
	}

	.main {
		width: 960px;
	}

	.hero {
		grid-column: 2/4;
		grid-row: 1/3;
	}

	.event {
		grid-column: 1;
		grid-row: 1;
	}

	.weather {
		grid-column: 1;
		grid-row: 2;
	}

	.join {
		display: contents;
		grid-column: 1;
		grid-row: 3;

	}

	.news {
		width: 100%;
		grid-column: 2/4;
		grid-row: 3;
		/* display: none; */
	}
	
	.spot1 {
		align-content: center;
	}


	.spot img {
		width: 90%;
		padding: 0.5rem;
	}

	.spot {
		grid-row: 1/4;
	}

}
