* {
	margin: 0;
	padding: 0;
}
.page {
	margin: 1rem auto;
	background-color: rgb(238, 230, 230);
	padding: 10px;
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}

main {
	margin: 1rem;
}

header {
	background-color: #002349;
	padding: 5px;
	display: flex;
	/* display: grid;
	grid-template-columns: 3fr 1fr 1fr; */
	align-items: center;
	margin: auto;
	color: #FFD700;
	flex: 1 1 100%;
}

header > div {
  	flex: 1 1 auto;
}

.head {
	background-color: #002349;
}

.logo img, .logofoot img {
    width: auto;
	border-radius: 8px 35px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.logofoot img {
	width: 20%;
}

footer {
	background-color: #002349;
	display: flex;
	flex-flow: column;
	text-align: center;
	justify-content: center;
	padding: 10px;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings2 {
	align-items: center;
}
.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: #FFD700;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

.navigation li:first-child {
	display: block;
}

nav {
	margin: 0 auto;
	max-width: auto;
	/* background-color: #18bb92; */
	/* background-color: tomato; */
}
.navigation {
	list-style: none;
	padding: 0;
	color: #FFD700;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #FFD700;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.responsive li {
	display: block;
}
.navigation a:hover {
	color: green;
	background-color: #fff;
}

aside {
	text-align: center;
	margin: 0.5rem;
	padding: 0.3rem;
	border: 1px solid #FFD700;
	color: #FFD700;
	background-color: #001233;
}

.date {
	background-color: #002349;
	align-items: center;
	padding: 0.2rem;
	margin-bottom: 0.2rem;
}

.grid-container {
	display: grid;
	row-gap: 0.5em;
	grid-template-columns: 1fr;
	color: #fff;
}
.hero, .event, .news, .weather, .spots, .join {
	background-color: #373535;
	border: 1px solid rgba(9, 9, 9, 0.8);
	/* padding: 20px; */
	/* font-size: 20px; */
	height: auto;
	width: auto;
	box-sizing: border-box;
	text-align: center;
}

.hero img {
	width: 100%;
	height: 100%;
}

.hero {
	width: 100%;
	height: 100%;
}
.herodiv img {
	object-fit: cover;
}

.spot3, .join {
	display: none;
}

.joinbtn {
	padding: 0.4rem;
	border: 1px solid #FFD700;
	margin: 0.5rem 2rem;
	background-color: rgba(0, 35, 73, 0.5);
	border-radius: 0.4rem;
}

.spot1, .spot2, .spot3 {
	background-color: #373535;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 0.5em;
	/* font-size: 20px; */
	height: auto;
	width: auto;
	text-align: center;
}

footer {
	color: #FFD700;
}

.herodiv {
	position: relative;
}

.joinhero {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	border: 1px solid #FFD700;
	color: #fff;
	padding: 0.5em;
	background-color: rgba(0, 35, 73,0.6);
	border-radius: 0.4em;

}

.welcometxt {
	position: absolute;
	top: 1rem;
	color: #fff;
}

h3 {
	color: #FFD700;
}

a {
	color: #fff;
}

#banner {
	display: none;
	margin: 0 auto;
	border: 1px solid #000;
	background: #FF00FF;
	padding: 0.5rem;
	text-align: center;
	color: rgb(255, 255, 255);
	font-weight: 700;
}